@import '../../scss/modules/vars';
@import '../../scss/modules/functions';
@import '../../scss/modules/mixins';

.reserv {
  @include adaptiveValue(margin-bottom, 100, 50, $maxWidthContainer, $mobileSmall);
}
.title {
  @include adaptiveValue(margin-bottom, 100, 20, $maxWidthContainer, 320);
}
.img img {
  display: none;
  @media (min-width: toEm($tablet)) {
    display: block;
    flex-basis: toRem(300);

    position: absolute;
    top: toRem(10);
    left: 0;

    filter: grayscale(100%);
    transition: filter 0.3s;
  }
}
.list {
  gap: toRem(120);
  @include adaptiveValue(gap, 120, 30, $maxWidthLayout, $mobile);
}
.item {
  @media (min-width: toEm($tablet)) {
    gap: toRem(64);
  }
  overflow: hidden;

  cursor: pointer;
}
@media (any-hover: hover) {
  .item:hover {
    .img img {
      filter: grayscale(0%);
    }
    .price {
      background-color: #c8ae97;
      color: #191919;
      span {
        color: #48484a;
      }
    }
  }
}

.contant {
  flex-grow: 1;
  @media (min-width: toEm($tablet)) {
    padding-left: toRem(300);
  }
}
.subtitle {
  font-weight: 600;

  font-family: Cormorant;

  @include adaptiveValue(font-size, 48, 24, $maxWidthContainer, 320);

  border-bottom: toRem(1) solid #f5f5f5;
  @include adaptiveValue(padding-bottom, 20, 10, $maxWidthContainer, 320);
  @include adaptiveValue(margin-bottom, 24, 10, $maxWidthContainer, 320);
}
.label,
.sublist {
  font-weight: 300;
  font-size: toRem(16);
  line-height: calc(24 / 16);
  color: #48484a;
}
.sublist {
  margin-bottom: toRem(48);
  @include adaptiveValue(margin-bottom, 48, 20, $maxWidthLayout, $mobile);
}
.sublist li {
  padding-left: toRem(22);
  position: relative;

  &::before {
    content: '';
    width: toRem(2);
    height: toRem(2);
    border-radius: 50%;

    background-color: #48484a;

    position: absolute;
    top: 50%;
    left: toRem(10);
    translate: 0 -50%;
  }
}
.bottom_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: toEm($mobileSmall)) {
    flex-direction: column;
    justify-content: flex-start;
    gap: toRem(10);
    align-items: flex-start;
  }
}
.age {
  @media (min-width: toEm($tablet)) {
    padding-left: toRem(110);
  }
}
.time,
.age {
  color: #909090;
  font-size: toRem(16);
  line-height: calc(20 / 16);

  span {
    color: #fff;
  }
}
.price {
  font-size: toRem(24);
  font-weight: 500;
  span {
    font-weight: 300;
    font-size: toRem(16);
    color: #909090;
  }
  text-align: right;

  flex-wrap: nowrap;

  @media (min-width: toEm($mobile)) {
    padding: toRem(18) toRem(20);
    border-radius: toRem(16);

    background-color: transparent;

    transition: background-color 0.3s, color 0.3s;
  }
}
.top_items {
  .sublist {
    margin-bottom: toRem(30);
  }
}
